<div class="columns">
  <div class="column">
    <h1 class="title">Edit concert</h1>
  </div>
</div>
<%= render 'alerts' %>
<%= render '/partials/errors', record: @concert %>
<%= render 'form' %>
<%= render 'buttons_show', concert: @concert, edit: true %>
