header,
footer {
    background-color: #16a085;
    color: #ecf0f1;
    text-align: center;
}

.jumbotron {
    width: 100%;
    margin: 30px auto;
    text-align: center;
    background: url("movies.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 70vh;
    color: #ecf0f1;
}

img {
    max-width: 80%;
    height: 200px;
    display: block;
    margin: auto;
}

.panel {
    margin-top: 30px;
}

.panel-default > .panel-heading {
    background-color: #1abc9c;
    height: 40px;
    overflow: hidden;
}

.panel-title {
    line-height: 24px;
}

a {
    text-decoration: none;
    color: #2c3e50;
}

a:hover {
    text-decoration: none;
    color: #34495e;
}

.btn-default {
    width: 100%;
    background: #16a085;
    border: 1px solid #16a085;
    color: #ecf0f1;
}

.btn-default:hover {
    background: #1abc9c;
    color: #ecf0f1;
}

.btn-back {
    margin-bottom: 20px;
}

.input-group-addon {
    background: #16a085;
    border: 1px solid #16a085;
    color: #ecf0f1;
}

.input-group {
    margin: 10px auto;
}
