<div class="row">
  <div class="jumbotron">
    <h1>Search for a movie!</h1>
    <p>Write below the title of the movie you would like to search for and click on search.</p>
    <%= form_for @movie do |f| %>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Movie Title</span>
        <%= f.text_field :title, class: "form-control"%>
      </div>
      <%= f.submit "Search" , class: "btn btn-default"%>
    <% end %>
  </div>
</div>
