<!DOCTYPE html>
<html>
<head>
  <title>Urtzi's AuctionSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <header>
      <h1>Urtzi's AuctionSite</h1>
    </header>
    <%= yield %>
    <footer>
      <p>urtzip @Ironhack 2016</p>
    </footer>
  </div>
</body>
</html>
