<h2>Submit text for ASCII art</h2>

<form action="/asciis" method="post">
  <div>
    <textarea name="asciis[user_text]" id="asciis_user_text" placeholder="Text"></textarea>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  </div>
  <button type="submit">Submit text</button>
</form>
